section.assessorias{
    width: 100%;
    padding: 20px;
    background-color: #D9DADC;
}

section.midias-sociais .flex{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.texto{
    margin-top: 150px
}

.midias-sociais .texto{
    justify-content: center;
    align-items: center;
}

.midias-sociais .texto p{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

.midias-sociais .texto button{
    background-color: #FD408E;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFF;
    border-radius: 40px;
    border-style: none;
    padding: 10px 40px 10px 40px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.midias-sociais .texto button:hover{
    transform: scale(1.1);
}

.midias-sociais .container h2{
    font-size: 56px;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}

.midias-sociais .container .flex .slide{
    width: 600px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.midias-sociais .container .flex .slide img{
    border-radius: 20px;
}



/* mobile */

@media screen and (max-width: 768px){
    section.assessorias{
        height: 100%;
    }

    section.assessorias  h2{
        font-size: 30px;
        padding: 30px;
    }

    section.assessorias .container h2{
        font-size: 35px;
        margin-bottom: 30px;
    }

    .assessorias .cards{
        width: 260px;
        margin-top: 0;
    }

    .assessorias .espaço{
        margin-bottom: 45px;
    }

    .assessorias .cards img{
        width: 115px;
    }

    .assessorias .cards h3{

        font-size: 19px;
        font-weight: 700;
    }

}
