
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');


html, body {
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 700;
}

button{
    border: none;
    border-radius: 20px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    background-color: #FD408E;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    
}

 p{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}


/* Depoimentos */

section.depoimentos{
    padding: 40px 4%;
}

.depoimentos .container h4{
    
    text-align: center;
    padding: 100px 0 100px 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.depoimentos .container .depoimentos-flex{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    
}

.depoimentos .container .depoimentos-flex .cards img{
    width: 150px;
    border-radius: 100%;
    margin-top: 50px;
}

.depoimentos .container .depoimentos-flex .cards h5{
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.depoimentos .container .depoimentos-flex .cards p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}

.depoimentos .container .depoimentos-flex .cards{
    width: 400px;
    height: 490px;
    text-align: center;
    background-color: #f6549759;
    text-align: center;
    border-radius: 20px;
    transition: .3s;
}

.depoimentos .container .depoimentos-flex .cards:hover{
    background: #FD408E;
    color: #FFF;
    transform: scale(1.1);
}

.depoimentos .cards .estrelas{
    color: yellow;
    border-top: 2px solid  #f188b4;
    padding: 6px;
}
