
section.sobreNos{
    width: 100%;
    padding: 20px;
}

.sobreNos h1{
    margin: 20px 0;
}

.texto-sobrenos{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    width: 50%;
    padding: 0 60px 0 0px;
}

.conteudo .imagem{
    display: flex;
    width: 50%;
    justify-content: center;
}

.conteudo .imagem img{
    width: 80%;
    border-radius: 20px;
}

.texto-sobrenos button{
    width: 50%;
    transition: ease-in-out .2s;
    margin-top: 15px;
}

.texto-sobrenos button:hover{
    background-color: #f50669;
}

.conteudo{
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width: 768px){
   section.sobreNos h1{
    font-size: 36px;
    padding: 25px 0;
   }

   .conteudo{
    flex-direction: column;
    gap: 25px;
   }
   .conteudo .imagem{
   justify-content: center;
   width: 100%;
   }

   .conteudo .imagem img{
    width: 100%;
    border-radius: 20px;
   }

   .texto-sobrenos{
    width: 100%;
    padding: 0 ;
   }

   .texto-sobrenos p {
    font-size: 14px;
    text-align: justify;
   }

   .texto-sobrenos button{
    margin-top: 20px;
    width: 100%;
   }
}