
section.sobreNos{
    width: 100%;
    padding: 50px;
}

.conteudo .imagem{
    display: flex;
    width: 100%;
}

.texto-sobrenos button{
    transition: ease-in-out .2s;
}

.texto-sobrenos button:hover{
    background-color: #f50669;
}

.conteudo{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px){
   section.sobreNos h1{
    font-size: 36px;
    padding: 25px 0;
   }

   .conteudo{
    flex-direction: column;
    gap: 25px;
   }
   .conteudo .imagem{
   justify-content: center;
   }

   .conteudo .imagem img{
    width: 100%;
    border-radius: 20px;
   }

   .texto-sobrenos{
    width: 100%;
   }

   .texto-sobrenos p {
    font-size: 14px;
    text-align: justify;
   }

   .texto-sobrenos button{
    margin-top: 20px;
    width: 100%;
   }
}