section.assessorias{
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.assessorias h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

section.assessorias .flex{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}


.assessorias .cards{
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    text-align: center;
    height: 390px;
    width: 280px;
    border-radius: 20px;
    background-color: #fff;
}

.assessorias .espaço{
    margin-bottom: 30px;
}

.assessorias .cards:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #f50669;
}

.assessorias .cards img{
    border-radius: 20px;
    width: 150px;
}

.assessorias .cards h3{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.assessorias .cards p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.assessorias .cards a{
    color: #000000;
    transition: ease-in-out 0.3s;
}

.assessorias .cards a:hover{
    color: #F65497;
}

/* Versão Mobile */

@media screen and (max-width: 768px){

    section.assessorias{
        height: 100%;
        padding-bottom: 10%;
    }

    section.assessorias  h2{
        font-size: 26px;
        padding: 30px;
    }

    section.assessorias .container h2{
        font-size: 35px;
        margin-bottom: 30px;
    }

    .assessorias .cards{
        width: 260px;
        margin-top: 0;
    }

    .assessorias .espaço{
        margin-bottom: 45px;
    }

    .assessorias .cards img{
        width: 115px;
    }

    .assessorias .cards h3{

        font-size: 19px;
        font-weight: 700;
    }

}



