section.banner{
    background: url('../../imagens/Banner-CaMkt-2.jpg');
    background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    width: 100%;
}

section.banner .conteudo button{
    width: 25%;
    margin: 31em 0 0 25rem;
}

@media screen and (max-width: 1336px){
    section.banner .conteudo button{
        margin: 32em 0 0 55rem;
    }
}

@media screen and (max-width: 768px){
    section.banner{
        background: url('../../imagens/Banner-CaMkt-Mobile-JPEG-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        max-width: 768px;
    }

    section.banner .conteudo{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section.banner .conteudo button{
        width: 50%;
        margin: 33rem 0 0 0;
    }
}